body {
    position: relative;
    font-family: -apple-system, sans-serif;
    font-size: 15px;
}
h1 {
    margin: 10px 0;
    text-align: center;
}
main {
    display: flex;
}
.inputs {
    height: 100%;
    padding: 20px 10px;
    border-radius: 10px;
    background: #eee;
}
.inputs h3 {
    margin-bottom: 0;
    font-size: 16px;
    color: #333;
}
label {
    width: 120px;   
}
input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-left: 10px;
    font-size: 14px;
}
#buy {
    font-size: 18px;
    font-weight: bold;
}
#buy input {
    width: 130px;
    font-weight: 400;
}
#submit {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    background: hsl(210, 70%, 40%);
    color: white;
}
#reset {
    display: block;
    width: 200px;
    height: 30px;
    margin-top: 5px;
    background: hsl(210, 10%, 50%);
    color: white;
}

#results {
    background: #f4f4fb;
}
#results tr {
    height: 45px;
}
#results tr.header {
    height: 50px;
}
#results .pattern {
    width: 110px;
    text-align: center;
}
#results td {
    width: 50px;
    text-align: center;
    white-space: pre-line;
}
#results th.pm,
#results td.pm {
    background-color: #eeeefa;
}
#results td .min {
    color: hsl(210, 80%, 30%);
}
#results td .max {
    color: hsl(30, 80%, 30%);
}
#results button {
    width: 100px;
    height: 30px;
    background: hsl(210, 70%, 40%);
    color: white;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
    }
    .inputs {
        padding: 20px;
        margin: 0 auto;
    }
    #results {
        position: absolute;
        top: 50px;
        left: 0;
        position: absolute;
        font-size: 10px;
        border-collapse: collapse;
    }
    #results tr {
        height: 30px;
    }
    #results tr.header {
        height: 25px;
    }
}